body {
    background: url(https://i.pinimg.com/originals/72/77/a9/7277a97980f189d2e8f145d2edfd472a.jpg)no-repeat center center fixed;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

#name {
    font-size: 75px;
    color: black;
    font-family: 'Cinzel', serif;
}

.container-sm {
  background-color: rgba(255, 0, 0, 0.3);
  margin: auto;
}

input{
  opacity: 0.7 !important;
}

textarea {
  opacity: 0.7 !important;
}

.logo {
    display: block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    }

 button {
    border-radius: 50%;
    background-color: #ff3333;
    font-family: 'Cinzel', serif;
    color: white;
  }

  .top-btn{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ff3333;
    font-family: 'Cinzel', serif;
    vertical-align: middle;
    padding-top: 30px;
    color: black;
  }

  .bottom-btns{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ff3333;
    font-family: 'Cinzel', serif;
    vertical-align: middle;
    color: black;
  }

  li {
      float: right;
  }

  #link {
    color:white;
    font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 13px;
  }

  #icons {
  margin: 0 auto;
    font-size: 50px;
  }

  h2{
      text-align: center;
      color: white;
      font-size: 50px
  }

  #copyright {
    font-size: 15px;
    color:black;
    font-family: 'Cinzel', serif;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

/*****ABOUT*****/
.bio {
  width: 800px;
  margin: auto;
  }

  .bioInfo{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
  }
  

  /*****CONTACT*****/
  form {
    width: 800px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
    color:white;
    }

     /*****PORTFOLIO*****/
  #titles{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
  }

  #tbyd {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
  }

 #ghlink {
    color: black;
    text-align: center;
    font-size: 50px;
      position: relative;
      padding-left: 40%;
  }
  
.card {
  background-color: rgba(255, 0, 0, 0.3); 
 height: 225px;
  }

  .card-img-top {
  height:100px;
  }

@media (max-width: 576px) {

  #name {
    font-size: 35px;
  }

  .logo{
    width: 200px;
    height: 200px;
  }

  .top-btn{
    width: 65px;
    height: 65px;
    padding-top: 20px;
    }

    #link {
      font-size: 8px;
    }

    .bottom-btns{
      width: 65px;
      height: 65px;
      padding-top: 20px;
    }

    #icons {
      position: relative;
       color: black;
       font-size: 25px;

     }  

    .bioInfo {
      font-size: 15px;
      display: block;
      text-align: wrap;
    line-height: 15px;
    }

    .bio {
      width: 375px;
      height: 375px;
    }

    form {
      width: 350px;
      height: 350px;
    }
    h2{
      font-size: 20px;
    }
   .card-deck {
     width: 100%;
   }

   #titles{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
  }
 
  .container2{
justify-content: left;
font-size: 8px;
  }

  #copyright {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) { 
  .top-btn{
    width: 90px;
    height: 90px;
    }

    .bottom-btns{
      width: 50px;
      height: 90px;
      }
    #name {
      font-size: 65px;
    }

    #link {
      font-size: 8px;
    }

    footer {
      position: relative;
      bottom: 0;
      flex-shrink: 0;
    }

    .bioInfo {
      font-size: 25px;
      display: block;
      text-align: wrap;
    line-height: 25px;
    }

    .bio {
      width: 650px;
      height: 650px;
    }

    form {
      width: 600px;
      height: 600px;
    }

    h2{
      font-size: 40px;
    }

    #titles{
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
      color: white;
    }

    p {
      font-family: 'Quicksand', sans-serif;
        font-size: 16px;
      color: white;
    }

    .container2{
      justify-content: left;
      font-size: 18px;
        }

        #icons {
          position: relative;
           color: black;
           font-size: 20px;
         }  
 }


@media (min-width: 992px) { 
  body {background-size: 100%
    }
   
    .logo{
      width: 300px;
      height: 300px;
    }
    #name {
      font-size: 50px;
    }
    .top-btn{
      width: 75px;
      height: 75px;
      padding-top: 20px;
    }

    .bottom-btns{
      width: 75px;
      height: 75px;
      padding-top: 20px;
    }

  #link {
  text-align: center;
  font-size: 10px;
  padding-bottom: 20px;
  }

  #icons {
   position: relative;
    color: black;
    font-size: 40px;
  }
  
  h2{
    font-size: 30px;
  }

      .bioInfo {
        font-size: 25px;
        display: block;
        text-align: wrap;
      line-height: 25px;
      }
      .bio {
        width: 650px;
        height: 425px;
      }
  
      form {
        width: 600px;
        height: 425px;
      }
  
      #titles{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        color: white;
      }
  
      p {
        font-family: 'Quicksand', sans-serif;
          font-size: 16px;
        color: white;
      }
  
      .container2{
        justify-content: left;
        font-size: 18px;
          }

          footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
         }
   }

@media (min-width: 1200px) { 

    body {background-size: 100%
    }
  }